/*@media screen and (min-width:320px) and (max-width:768px) {*/

    html, body {
        width: 100%;
        background-image: url("https://scontent-amt2-1.xx.fbcdn.net/v/t31.0-8/18121502_10155124692790772_2097829566452580976_o.jpg?oh=d5bf310c82bc4c71ae5c749551d5db4b&oe=5A08F74A");
        position: fixed;
        background-size: cover;
        background-repeat: no-repeat;

    }



    /*https://image.architonic.com/img_pfm2-4/205/5916/beton-grey-2-b.jpg */

    .main   {

        height: 100%;
        widows: 100%;
        margin-left: auto;
        margin-right: auto;

    }

    table {
        border-collapse: collapse;
        position: relative;
        margin-left: 20%;
        margin-right: auto;
        margin-bottom: 25%;
        margin-top: 3%;
        padding: 0;
    }

    table, th, td {
        border: 0;
    }


    td  {

        font-family: "Old Standard TT";
        height: 180px;
        width: 180px;
        text-align: center;
        padding: 5px;
        background-color: #FFFFFF;
        color: black;
        font-size: 30px;
    }

/* links achter blokken / tabel*/

    .blockhrefs   {

        text-decoration : none;
        color: black;
        width:100%;
        height: 100%;
        display: block;
        text-align: center;
        padding-top: 50px;
    }



    /*h3  {

        font-family: "Old Standard TT";
        text-align: center;
        color: #FFFFFF;
        position: fixed;
        bottom: 500px;
        left: 40px;
    }*/


    #vlog   {

        background-color: rgba(0,0,0,0.8);
        color: #FFF;

    }

    .fade_in:hover {

            background-color: rgba(225,225,225,0.6);
    }

    .picture_me:hover {

            background-image: url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAhXAAAAJDYxNTUwMDI5LWZlMTktNDYzZi05MWEzLTM3ZjQ0OWRjMjc0NA.jpg);
            background-repeat: no-repeat;
            background-size: 200px 200px;
            color: rgba(225,225,225,0.0);
            background-position: center;
    }

    .fade_grey#vlog:hover    {

            background-color: dimgray;
    }

    .transparant {

        background-color: transparent;
        color: #FFF;
    }

    .vervagen {

        background-color: rgba(225,225,225,0.6);
        color: black;
    }

    #letter {

        font-family: "Tangerine";
        font-size: 80px;
        text-align: left;
    }

/*responsive maken van de site*/

Qmedia only screen and (max-width: 800px) and (max-height: 600px){
    table   {
        position: fixed;
    }

}

/*menu slider*/

.nav-container {
  position: absolute;
  left: -50%;
  top: 0;
  background: rgba(0,0,255,0.1);
  height: 100%;
  width: 150px;
}

.nav-list {
  cursor: pointer;
  list-style-type: none;
  top: 40%;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.list-item {
  margin: 20px auto;
  border: 2px solid #fff;
  width: 50px;
  padding: 15px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.list-item:hover {
  border: 2px solid #17BEBB;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@keyframes
showNav { from {
 left: -100%;
}

to { left: 0; }
}

@-webkit-keyframes
showNav { from {
 left: -100%;
}

to { left: 0; }
}

@-moz-keyframes
showNav { from {
 left: -100%;
}

to { left: 0; }
}

@-o-keyframes
showNav { from {
 left: -100%;
}

to { left: 0; }
}

.showNav {
  -webkit-animation: showNav .5s ease forwards;
  -moz-animation: showNav 1s ease forwards;
  -o-animation: showNav 1s ease forwards;
  animation: showNav .5s ease forwards;
}

@keyframes
hideNav { from {
 left: 0;
}

to { left: -100%; }
}

@-webkit-keyframes
hideNav { from {
 left: 0;
}

to { left: -100%; }
}

@-moz-keyframes
hideNav { from {
 left: 0;
}

to { left: -100%; }
}

@-o-keyframes
hideNav { from {
 left: 0;
}

to { left: -100%; }
}

.hideNav {
  -webkit-animation: hideNav 1s ease forwards;
  -moz-animation: hideNav 1s ease forwards;
  -o-animation: hideNav 1s ease forwards;
  animation: hideNav 1s ease forwards;
}

/*button*/

button {
  background: none;
  border: none;
}

.btn-nav:hover { cursor: pointer; }

.btn-nav:hover .bar { background: #17BEBB; }

.bar {
  display: block;
  height: 5px;
  width: 50px;
  background: #fff;
  margin: 10px auto;
}

.btn-nav {
  display: block;
  padding: 15px 0;
  width: 50px;
  position: fixed;
  left: 30px;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.btn-nav:focus { outline: none; }

.middle { margin: 0 auto; }

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.animated { z-index: 999; }

.animated .arrow-top-r {
  -webkit-transform: rotateZ(-45deg) translateY(11px);
  -moz-transform: rotateZ(-45deg) translateY(11px);
  -ms-transform: rotateZ(-45deg) translateY(11px);
  -o-transform: rotateZ(-45deg) translateY(11px);
  transform: rotateZ(-45deg) translateY(11px);
  width: 25px;
}

.animated .arrow-middle-r {
  -webkit-transform: translateX(25px);
  -moz-transform: translateX(25px);
  -ms-transform: translateX(25px);
  -o-transform: translateX(25px);
  transform: translateX(25px);
}

.animated .arrow-bottom-r {
  -webkit-transform: rotateZ(45deg) translateY(-11px);
  -moz-transform: rotateZ(45deg) translateY(-11px);
  -ms-transform: rotateZ(45deg) translateY(-11px);
  -o-transform: rotateZ(45deg) translateY(-11px);
  transform: rotateZ(45deg) translateY(-11px);
  width: 25px;
}


