    /* tekst voor de subpagina's */

/*@media screen and (min-width:320px) and (max-width:768px) {*/

    html, body {
        height: 100%;

    }

    .header {

        background-image: url("https://scontent-amt2-1.xx.fbcdn.net/v/t31.0-8/18121502_10155124692790772_2097829566452580976_o.jpg?oh=d5bf310c82bc4c71ae5c749551d5db4b&oe=5A08F74A");
        position: fixed;
        height: 300px;
        width: 100%;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;

    }

    .blokje {

        position: fixed;
        top: 275px;
        left: 500px;
        margin-left: -25px;
        width: 50px;
        height: 50px;
        background: #FFF;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: 3;
    }



    .footer    {

        height: 200px;
        width:100%;
        position: relative;
        left: 0;
        bottom: 50px;
        padding-bottom: 200px;
        overflow: scroll;
        padding-left: 50%;
        top: 300px;
        z-index: 1;

    }


    h1  {

        font-family: "Tangerine";
        text-align: left;
        color: black;
        position: relative;
        font-size: 45px;
        right: 0;
        bottom 250px;
        top: -20px;



    }

    p   {

        font-family: "Old Standard TT";
        text-align: left;
        color: black;
        position: relative;
        padding-right: 50%;
        font-size: 25px;
        right: 0;
        bottom: 40px;

    }

    span    {

        text-decoration: underline;
    }

    img#foto_me    {

        left: 60px;
        bottom: 50px;
        border-radius: 100%;
        position: fixed;

    }



